.boxplot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxplot-item {
    flex: 1 1 45%; /* Adjust the basis to control the size */
    margin: 100px;
    min-width: 150px; /* Minimum width to ensure readability */
}
